@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  color: var(--Dark_Blue);
}
a {
  color: #fff;
}
button {
  cursor: pointer;
}
:root {
  --Dark_Blue: hsl(233, 26%, 24%);
  --Grayish_Blue: hsl(233, 8%, 62%);
  --Very_Light_Gray: hsl(0, 0%, 98%);
  --Lime_Green: hsl(136, 65%, 51%);
}
.inviteBtn {
  outline: none;
  font-size: 1.125em;
  color: white;
  background-color: var(--Lime_Green);
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 1.375em;
  padding: 0.625em 0.9375em;
  font-weight: 700;
}
.inviteBtn:hover {
  background: linear-gradient(to right, #70eb91, #7ec5d6);
  transition: all 0.3s ease-in;
}
.inviteBtn:active {
  transform: scale(0.99);
  transition: none;
}
#mobileNav {
  display: none;
}
.hamburger_button {
  display: none;
}
#hamBtn {
  width: 25px;
}
.navbar {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  background-color: var(--Very_Light_Gray);
  align-items: center;
  padding: 2%;
  height: 10vh;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  z-index: 100;
  position: absolute;
  width: 100vw;
}
.nav-list {
  display: flex;
}
.nav-links a {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.125em;
  color: var(--Grayish_Blue);
}
.nav-links a:hover {
  color: var(--Dark_Blue);
}
.hero_section {
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position-x: 450%;
  background-position-y: 70%;
  background-size: 90%;
  overflow: hidden;
}
.hero_section-content {
  margin: 2.5em;
  margin-left: 10%;
  width: 43.75em;
}
.hero_section-content h1 {
  font-size: 4rem;
  width: 80%;
  font-weight: 400;
  margin-top: 0.625em;
  margin-bottom: 0.8em;
  color: var(--Dark_Blue);
}
.hero_section-content p {
  font-size: 1.5rem;
  width: 65%;
  text-align: left;
  margin-bottom: 3.125em;
  color: var(--Grayish_Blue);
  line-height: 3.5vh;
  overflow: hidden;
}
.hero_section-imgs {
  overflow: hidden;
}
.hero_section-imgs img {
  display: flex;
  position: absolute;
  top: -4%;
  right: -8%;
}
.impression_section {
  background-color: #f4f5f7;
  padding: 8% 10%;
}
.impression_section-header {
  padding-bottom: 8vh;
}
.impression_section-header h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1em;
}
.impression_section-header p {
  font-size: 1.5rem;
  width: 70%;
  color: hsl(233, 8%, 62%);
}
.impression_section-content {
  display: flex;
  justify-content: space-evenly;
}
.impression_item-image {
  margin-top: 1.25em;
  margin-bottom: 2.5em;
}
.impression_item-content h3 {
  margin-bottom: 2em;
  font-weight: 400;
  font-size: 2rem;
}
.impression_item-content p {
  font-size: 1.2rem;
  color: hsl(233, 8%, 62%);
  width: 83%;
}
.articles_section {
  background-color: #fafafa;
  padding: 8% 10%;
}
.articles_section h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 6vh;
}
.articles_section-content {
  display: flex;
  justify-content: space-evenly;
}
.article_item {
  width: 90%;
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.article_item img {
  height: 12.5em;
  width: 100%;
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
}
.article_item-content {
  padding: 5%;
}
.article_item-content span {
  color: var(--Grayish_Blue);
  font-size: 0.875em;
  padding-bottom: 1.25em;
}
.article_item-content h3 {
  font-weight: 400;
  padding-top: 2vh;
}
.article_item-content h3:hover {
  color: var(--Lime_Green);
}
.article_item-content p {
  color: var(--Grayish_Blue);
  font-size: 1.2em;
  padding-top: 2vh;
  width: 95%;
}
.footer_section {
  padding: 3% 10%;
  background-color: var(--Dark_Blue);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_logo-social {
  height: 15vh;
  width: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_socials {
  display: flex;
  justify-content: space-between;
}
.footer_socials img {
  height: 1.5625em;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
}
.footer_links {
  margin-right: 25%;
  margin-left: 10%;
  display: flex;
}
.footer-listsmall {
  display: none;
}
.footer-list {
  height: 15vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
}
.footer-list li {
  font-size: 1.125em;
}
.footer-list li :hover {
  color: var(--Lime_Green);
}
.footer_invite-cright {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: flex-end;
  height: 10vh;
  justify-content: space-between;
  overflow: hidden;
}
.footer_invite-cright button {
  overflow: hidden;
}
.footer_invite-cright span {
  color: var(--Grayish_Blue);
  overflow: hidden;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
  .hero_section-content {
    margin-left: 5%;
  }
  .impression_section {
    padding: 8% 5%;
  }
  .impression_section-header h2 {
    font-size: 2rem;
  }
  .impression_section-header p {
    font-size: 1.2rem;
  }

  .impression_item-content h3 {
    font-size: 1.5rem;
    margin-bottom: 2em;
  }
  .impression_item-content p {
    font-size: 1.2rem;
  }
  .articles_section {
    padding: 8% 5%;
  }
  .articles_section h2 {
    font-size: 2rem;
  }
  .article_item {
    width: 100%;
    align-items: center;
  }
  .article_item img {
    height: 12.5em;
    width: 13em;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
  }
  .article_item-content {
    padding: 3%;
  }
  .article_item-content p {
    font-size: 1rem;
  }
  .footer_section {
    padding: 3% 5%;
  }
  .footer_invite-cright span {
    text-align: right;
  }
  .footer_invite-cright button,
  .footer_invite-cright span {
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .hamburger_button {
    display: block;
  }
  .hamburger_button button {
    background-color: white;
    width: 30px;
    height: 20px;
  }
  #mobileNav {
    display: none;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background: #000000d0;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
  }
  .mobile_nav-content {
    background-color: #fff;
    border-radius: 16px;
    width: 100%;
    padding: 40px;
  }
  .nav-list-mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 50px;
    text-align: center;
  }
  .nav-links-mobile a {
    color: var(--Dark_Blue);
    font-size: 2em;
  }
  .navlinks_container,
  .navbutton_container {
    display: none;
  }
  .hero_section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 100%;
    background-size: 150%;
  }
  .hero_section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero_section-content h1 {
    width: 70%;
    text-align: center;
    font-size: 3.5rem;
  }
  .hero_section-content p {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  .hero_section-content button {
    width: 40%;
  }
  .hero_section-imgs img {
    display: none;
  }
  .impression_section-header h2 {
    text-align: center;
  }
  .impression_section-header p {
    width: 100%;
    text-align: center;
  }
  .impression_section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .impression_item-content p {
    margin-bottom: 20px;
  }
  .articles_section h2 {
    text-align: center;
  }
  .articles_section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .article_item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .article_item img {
    width: 100%;
  }
  .article_item-content p {
    font-size: 1.1em;
    padding-bottom: 20px;
  }
  .footer_logo-social {
    width: 45vw;
  }
  .footer-list {
    width: 25vw;
    padding-right: 20px;
  }
  .footer_invite-cright {
    width: 55vw;
  }
  .footer_invite-cright span {
    text-align: right;
  }
  .footer_invite-cright button,
  .footer_invite-cright span {
    overflow: hidden;
  }
}
@media screen and (max-width: 425px) {
  .hamburger_button {
    display: block;
  }
  .hamburger_button button {
    background-color: white;
    width: 30px;
    height: 20px;
  }
  #mobileNav {
    display: none;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background: #000000d0;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .mobile_nav-content {
    background-color: #fff;
    border-radius: 16px;
    width: 100%;
    padding: 40px;
  }
  .nav-list-mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 50px;
    text-align: center;
  }
  .nav-links-mobile a {
    color: var(--Dark_Blue);
    font-size: 2em;
  }
  .hero_section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: -600%;
  }
  .hero_section-content {
    margin: 2em;
  }
  .hero_section-content h1 {
    margin-bottom: 0.5em;
  }
  .hero_section-content p {
    margin-bottom: 2em;
    width: 95vw;
  }
  .hero_section-imgs img {
    display: block;
    transform: scale(0.5);
    top: -43%;
    right: -40%;
    position: absolute;
  }
  .impression_section {
    padding: 10% 8%;
  }
  .impression_section-header h2 {
    font-size: 2.5rem;
  }
  .impression_section-content {
    display: flex;
    flex-direction: column;
  }
  .impression_item-image {
    display: flex;
    justify-content: center;
  }
  .impression_item-content h3 {
    text-align: center;
  }
  .impression_item-content p {
    text-align: center;
  }
  .articles_section-content {
    display: flex;
    flex-direction: column;
  }
  .article_item-content p {
    padding-bottom: 30px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer_logo-social {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .footer_logo img {
    width: 50vw;
  }
  .footer_socials {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 20px;
  }
  .footer_links {
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 0;
  }
  .footer-list {
    display: none;
  }
  .footer-listsmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    line-height: 5vh;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .footer-listsmall li {
    font-size: 1.3em;
    width: 100%;
  }
  .footer-links {
    text-align: center;
    width: 100%;
  }
  .footer_invite-cright {
    align-items: center;
    width: 100%;
  }
  .footer_invite-cright span {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .hamburger_button {
    display: block;
  }
  .hamburger_button button {
    background-color: white;
    width: 30px;
    height: 20px;
  }
  #mobileNav {
    display: none;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background: #000000d0;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mobile_nav-content {
    background-color: #fff;
    border-radius: 16px;
    width: 100%;
    padding: 40px;
  }
  .nav-list-mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 50px;
    text-align: center;
  }
  .nav-links-mobile a {
    color: var(--Dark_Blue);
    font-size: 2em;
  }
  .hero_section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -120%;
  }
  .hero_section-content {
    margin: 2em;
  }
  .hero_section-content h1 {
    font-size: 3rem;
    width: 100vw;
  }
  .hero_section-imgs img {
    display: block;
    transform: scale(0.45);
    top: -43%;
    right: -53%;
    position: absolute;
  }
  .footer-links {
    text-align: center;
    width: 100%;
    margin: 0%;
  }
}
